<a href="https://colab.research.google.com/github/yennamvandhana/7026/blob/master/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#what is dictionary in python?explain with example
mydict={'StuName':'Nandu','StuAge':'18','StuCity':'Anantapur'}
print("Student Age is:",mydict['StuAge'])
print("Student City is:",mydict['StuCity'])

Student Age is: 18
Student City is: Anantapur

In [8]:
#to sum all the iteams in a list
def sum_list(iteams):
    sum_numbers=0
    for x in iteams:
        sum_numbers +=x
    return sum_numbers
print(sum_list([4,-20,6]))

-10

In [11]:
#create a list of empty dictionaries
n=4
l=[{ } for _ in range(n)]
print(l)

[{}, {}, {}, {}]

In [13]:
#to access dictionary keys elements by index
num={'physics':40,'math':60,'chemistry':45}
print(list(num)[2])

chemistry

In [23]:
#to iterate over dictionaries using for loop
d={'blue':4,'Green':2,'Blue':5}
for color_key,value in d.items():
    print(color_key,'corresponds to',d[color_key])

blue corresponds to 4
Green corresponds to 2
Blue corresponds to 5

In [26]:
#to sum all the items in a dictionary
my_dict={'num1':20,'num2':-25,'num3':60}
print(sum(my_dict.values()))

55

In [28]:
#concatenate dictionaries to create a new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={ }
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
#expected result:{1:10,2:20,3:30,4:40,5:50,6:60}
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={ }
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [32]:
#to create a tuple
x=()
print(x)

()

In [34]:
#to create a tuple with different data tyoes
tuplex=("tuple",True,4.3,1)
print(tuplex)

('tuple', True, 4.3, 1)

In [37]:
#to convert a tuple to a string
tup=('v','i','n','a','y')
str=''.join(tup)
print(str)

vinay

In [39]:
#to slice a tuple
tuplex=('v','i','n','a','y')
_slice=tuplex[2:]
print(_slice)

('n', 'a', 'y')

In [41]:
#length of a tuple
tuplex=tuple("chinnu")
print(tuplex)
print(len(tuplex))

('c', 'h', 'i', 'n', 'n', 'u')
6

In [43]:
#convert a tuple to dictionary
tuplex=((1,"N"),(4,"a"))
print(dict((y,x) for x,y in tuplex))

{'N': 1, 'a': 4}

In [45]:
#to reverse a tuple
x=(5,10,15,20)
y=reversed(x)
print(tuple(y))

(20, 15, 10, 5)

In [48]:
#convert a list of tuples in to a dictionary
l=[("V",1),("A",2),("N",3),("D",4),("U",5)]
D={ }
for A,B in l:
     D.setdefault(A,[]).append(B)
print(D)

{'V': [1], 'A': [2], 'N': [3], 'D': [4], 'U': [5]}

In [49]:
#convert list to tuple
listx=[5,4,6,8,3]
tuplex=tuple(listx)
print(tuplex)

(5, 4, 6, 8, 3)